header,
footer {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
}
header {
  border-bottom: 1px solid var(--white);
  top: 0;
}
footer {
  border-top: 1px solid var(--white);
  bottom: 0;
}
.header-div,
.nav-links {
  padding: 0.4rem;
  display: flex;
  align-items: center;
}
.header-div {
  justify-content: space-around;
}
.footer-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0;
}
.footer-div p {
  margin: 0 1rem;
  font-size: 15px;
}
.header-img-nameholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  justify-content: center;
}
.header-name {
  margin-left: 1rem;
}
.header-img {
  border-radius: 50%;
  width: 100px;
  transition: 300ms all;
  animation: 7s rgb-border infinite;
}
.header-desc {
  transition: 300ms all;
}
.header-img:hover,
.header-desc:hover {
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1.1);
}
.nav-a {
  width: 1.3rem;
  height: 1.5rem;
  text-decoration: none;
  margin: 0 1rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.nav-icon {
  width: inherit;
  height: inherit;
  opacity: 0.5;
  transition: 200ms all;
  animation: 1s link infinite;
}
.nav-tooltip {
  visibility: hidden;
  margin-bottom: 0.9rem;
  white-space: nowrap;
  padding: 0.2rem;
  border-radius: 5px;
  border: 1px solid var(--white);
  background-color: var(--bg-transp);
  color: var(--white);
  font-size: 14px;
}
main {
  display: block;
  margin: 3rem auto 3rem;
  padding: 1rem;
  width: 90%;
}
main h1 {
  display: block;
  margin: 2rem auto;
  text-align: center;
  font-size: 50px;
  width: 55%;
  transition: 300ms all;
  animation: 7s rgb infinite;
}
main h1:hover {
  cursor: default;
  font-weight: 900;
  transform: scale(1.6);
  background-color: transparent;
  text-shadow: 4px 4px var(--whitesmoke);
}
.main-div {
  width: 80%;
  margin: 0 auto;
}
.main-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.li-content u {
  font-size: inherit;
  font-weight: 700;
}
.li-content {
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: var(--bg-transp);
  margin-top: 0.3rem;
  padding: 0.3rem;
  width: 100%;
  font-size: 13px;
  transition: 300ms all;
}
.li-content:hover {
  cursor: default;
  transform: scale(1.1);
  animation: 14s rgb infinite, 1s flashing infinite;
}
.li-num {
  background-color: var(--white);
  padding: 0.1rem;
  border-radius: 3px;
  transition: 300ms all;
}
.li-num:hover {
  cursor: pointer;
  background-color: var(--whitesmoke);
}
.tooltip-show {
  visibility: visible;
  animation: 300ms fadein 1;
}
.tooltip-hide {
  animation: 300ms fadeout 1;
}
.flashing {
  animation: 1s flashing infinite;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flashing {
  0% {
    box-shadow: 0px 0px 10px 5px var(--whiteflash);
  }
  100% {
    box-shadow: none;
  }
}
@keyframes rgb {
  0% {
    color: #ff0000;
  }
  11% {
    color: #ff8000;
  }
  22% {
    color: #ffff00;
  }
  33% {
    color: #00ff80;
  }
  44% {
    color: #00ffff;
  }
  55% {
    color: #0080ff;
  }
  66% {
    color: #0000ff;
  }
  77% {
    color: #8000ff;
  }
  88% {
    color: #ff00ff;
  }
  100% {
    color: #ff0000;
  }
}
@media screen and (max-width: 1300px) {
  .header-desc {
    width: 13rem;
    font-size: 0.8rem;
  }
  aside {
    width: 60%;
  }
  .nav-a {
    margin: 0 0.5rem;
  }
}

@media screen and (max-width: 700px) {
  * {
    font: 9px "JetBrains Mono Regular", sans-serif;
  }
  .header-img {
    width: 40px;
    height: 40px;
  }
  main h1 {
    padding: 2px 0;
    font-size: 20px;
    width: 60%;
  }
  .li-content {
    padding: 10px;
    font-size: 9px;
  }
  .nav-links {
    flex-wrap: wrap;
  }
  .nav-a {
    width: 3rem;
    height: 3rem;
    margin: 2.2rem;
  }
  .nav-tooltip {
    visibility: visible;
  }
  .footer-div p {
    font-size: 9px;
  }
}
@media screen and (max-height: 800px) and (max-width: 700px) {
  main {
    padding-bottom: 20rem;
  }
}
