@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
.image-wrapper {
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, #9771bd 0%, #7cffc8 100%);
  padding: 5px;
  transition: 150ms all;
}
.image-wrapper:hover {
  transform: scale(1.3) translateY(-10px);
}

.profile-picture-wrapper {
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: linear-gradient(180deg, #9771bd 0%, #7cffc8 100%);
  padding: 15px;
}

@keyframes rgb {
  0%, 100% {
    color: #ff0000;
  }
  11% {
    color: #ff8000;
  }
  22% {
    color: #ffff00;
  }
  33% {
    color: #00ff80;
  }
  44% {
    color: #00ffff;
  }
  55% {
    color: #0080ff;
  }
  66% {
    color: #0000ff;
  }
  77% {
    color: #8000ff;
  }
  88% {
    color: #ff00ff;
  }
  99% {
    color: #ff0000;
  }
}
@keyframes rgb_box_shadow {
  0%, 100% {
    box-shadow: #ff0000 0 0 10px 5px;
  }
  11% {
    box-shadow: #ff8000 0 0 10px 5px;
  }
  22% {
    box-shadow: #ffff00 0 0 10px 5px;
  }
  33% {
    box-shadow: #00ff80 0 0 10px 5px;
  }
  44% {
    box-shadow: #00ffff 0 0 10px 5px;
  }
  55% {
    box-shadow: #0080ff 0 0 10px 5px;
  }
  66% {
    box-shadow: #0000ff 0 0 10px 5px;
  }
  77% {
    box-shadow: #8000ff 0 0 10px 5px;
  }
  88% {
    box-shadow: #ff00ff 0 0 10px 5px;
  }
  99% {
    box-shadow: #ff0000 0 0 10px 5px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;
}
@media screen and (max-width: 880px) {
  * {
    font-size: 10px;
  }
}

body {
  width: 100%;
  background: linear-gradient(180deg, #9771bd 0%, #171717 25%, #171717 75%, #9771bd 100%);
}

.page-header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #1e1d20;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #9771bd;
  z-index: 1;
}
@media screen and (max-width: 880px) {
  .page-header {
    height: 50px;
  }
  .page-header span {
    display: none;
  }
}

.page-header__brand,
.page-header__anchors {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 20px;
}

@media screen and (max-width: 880px) {
  .page-header__brand img {
    height: 40px;
  }
}

.page-header__anchors a {
  color: #fff;
  background-color: #9771bd;
  text-decoration: none;
  padding: 0.4rem 2rem;
  border-radius: 5px;
  transition: 150ms all;
  border: 2px solid transparent;
}
.page-header__anchors a:hover {
  border: 2px solid #7cffc8;
  background-color: #8a60b5;
}
@media screen and (max-width: 880px) {
  .page-header__anchors a {
    font-size: 10px;
    padding: 0.5rem;
  }
}

main {
  margin: 9rem auto;
}

.about-me {
  margin: 0 auto;
  width: 90%;
  border-radius: 25px;
  border: 1px solid #7cffc8;
  background-color: #1e1d20;
  display: flex;
  color: #fff;
  padding: 6rem 4rem;
  gap: 5rem;
  box-shadow: #7cffc8 0 0 0 0;
  transition: 150ms all;
}
.about-me h1 {
  font-size: 30px;
  text-shadow: 2px 2px 5px #9771bd;
  font-style: italic;
}
.about-me:hover {
  box-shadow: #7cffc8 0 0 15px 5px;
}

.about-me {
  justify-content: space-evenly;
  align-items: center;
}
@media screen and (max-width: 880px) {
  .about-me {
    flex-direction: column;
  }
}
.about-me img {
  width: 100%;
  border-radius: 50%;
  transition: 150ms all;
}
.about-me img:hover {
  transform: scale(1.05);
}

.about-me__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  width: 75%;
  position: relative;
}
.about-me__details span {
  font-style: italic;
  text-shadow: 2px 2px 5px #9771bd;
}
.about-me__details span span {
  animation: 8s infinite rgb;
}
.about-me__details ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about-me__details ul li {
  text-shadow: 2px 2px 5px #9771bd;
}
.about-me__details img {
  width: 50px;
  height: 50px;
  transition: 150ms all;
}
@media screen and (max-width: 880px) {
  .about-me__details img {
    width: 25px;
    height: 25px;
  }
}
.about-me__details .social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width: fit-content;
}
.about-me__details .social-links a:first-child {
  border-radius: 50%;
  animation: 4s linear rgb_box_shadow infinite;
}
.about-me__details .social-links a:first-child:hover {
  animation: none;
}

.page-footer {
  position: fixed;
  bottom: 0;
  height: 100px;
  background-color: #1e1d20;
  width: 100%;
  display: grid;
  place-items: center;
  color: #fff;
  text-shadow: 2px 2px 5px #9771bd;
  border-top: 1px solid #9771bd;
}
@media screen and (max-width: 880px) {
  .page-footer {
    height: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
